<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Menu</title>
    </head>
    <body>
        <div class="heading">
            <h1>Food Menu</h1>
            <h5>{{ data.restaurant.name }} Restaurant</h5>
        </div>
        <div class="diamond-line"><hr></div>

        <br>
        <br>
        {{#each data.menu}}
            <div class="sub-heading">
                <h3>{{ category }}</h3>
            </div>
            <ul>
            {{#each items}}
                <li>
                <strong>{{ name }}</strong>
                <ul>
                    <li><em>Price:</em> ${{ price }}</li>
                    <li><em>Description:</em> {{ description }}</li>
                </ul>
                </li>
            {{/each}}
            </ul>
        {{/each}}
        
        <h2>Contact Information</h2>
        <ul>
            <li><strong>Email:</strong> {{ data.restaurant.email }}</li>
            <li><strong>Phone:</strong> {{ data.restaurant.phone }}</li>
        </ul>
    </body>
</html>