<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Menu</title>
    </head>
    <body>
        <div class="heading">
            <h1>Food Menu</h1>
            <h5>{{ data.restaurant.name }} Restaurant</h5>
        </div>
        <div class="diamond-line"><hr></div>
        <br>
        <br>
        <div id="menu">
            {{#each data.menu}}
            <div class="category {{category}}">
                <h2 class="sub-heading">{{category}}</h2>
                <ul>
                {{#each items}}
                    <li>
                        <div class="item">
                            <div class="name_price">
                                <h3>{{name}}</h3>
                                <p>Price: ${{price}}</p>
                            </div>
                            <p>{{description}}</p>
                         </div>
                    </li>
                {{/each}}
                </ul>
            </div>
            {{/each}}
        </div>
        <br>
        <div class="diamond-line"><hr></div>
        <br>
        <div class="contacts">
            <h2>Contact Information</h2>
            <strong>Email:</strong> {{ data.restaurant.email }}
            <br>
            <strong>Phone:</strong> {{ data.restaurant.phone }}
        </div>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>

</html>