<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Menu</title>
    </head>
    <body>
        <div class="heading">
            <h1>Food Menu</h1>
            <h5>{{ data.restaurant.name }} Restaurant</h5>
        </div>
        <div class="diamond-line"><hr></div>
        <br>
        <br>
        {{#each data.menu}}
            <div class="category_div">
                <div class="sub-heading">
                    <h3>{{ category }}</h3>
                </div>
                <br>
                <br>
                {{#each items}}
                <br> 
                <div class="name_price">
                        <strong>{{ name }}</strong>
                        <em>${{ price }}</em> 
                </div>
                <br>
                <li>Description: {{ description }}</li>
                {{/each}}        
            </div>
            <br>
            <br>
            <br>   
        {{/each}}
        <br>
        <div class="diamond-line"><hr></div>
        <br>
        <h2>Contact Information</h2>
        <div>
            <strong>Email:</strong> {{ data.restaurant.email }}
            <br>
            <strong>Phone:</strong> {{ data.restaurant.phone }}
        </div>
    </body>
</html>